<header class="masthead mb-auto">
        <div id="NavContainer">
            <h1 id="logo"><i class="fas fa-viruses"></i>Covid-19</h1>
             <ul id="NavMenu">
                <li id="Navlist"><a href="/"><i class="fas fa-home"></i> Home</li></a>
                <li id="Navlist"><a href="/chart"><i class="fas fa-chart-line"></i> Chart</li></a>
                <li id="Navlist"><a href="/map"><i class="fas fa-map"></i> Map</li></a>
                <li id="Navlist"><a href="/clinic"><i class="fas fa-clinic-medical"></i>Clinic</li></a>
            </ul>
</header>

